server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/mateushlsilva/config-server-ms-kotlin
          search-paths:
          - 'config*'